{% include 'header.html' %}
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/static/image/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="download row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <!--左侧热门资源 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-danger">
                    <h4>热门资源<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    {% for down_hot in down_hots %}
                    <li class="widget-links_item ellipsis"><a href="/download/view/{{ down_hot.id }}/">{{ down_hot.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!--左侧热门资源 end-->
        </div>

        <div class="col-xs-12 col-md-9">
            <!--右侧资源下载列表 begin-->
            <table class="table table-striped table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th class="col-xs-12 col-sm-7 col-md-6 widget-links_item text-center">资源名称</th>
                        <th class="col-sm-2 col-md-2 widget-links_item text-center hidden-xs">更新日期</th>
                        <th class="col-sm-2 col-md-2 widget-links_item text-center hidden-xs">资源大小</th>
                        <th class="col-md-1 widget-links_item text-center hidden-xs hidden-sm">授权形式</th>
                        <th class="col-sm-1 col-md-1 widget-links_item text-center hidden-xs">资源等级</th>
                    </tr>
                </thead>
                <tbody>
                {% for down_list in down_lists %}
                    <tr class="widget-links">
                        <td class="col-xs-12 col-sm-7 col-md-6 widget-links_item ellipsis"><a href="/download/view/{{ down_list.id }}/">{{ down_list.title }}</a></td>
                        <td class="col-sm-2 col-md-2 widget-links_item hidden-xs">{{ down_list.pubtime|date:"Y-m-d" }}</td>
                        <td class="col-sm-2 col-md-2 widget-links_item hidden-xs">{{ down_list.sizes }}</td>
                        <td class="col-md-1 widget-links_item hidden-xs hidden-sm">{{ down_list.license }}</td>
                        <td class="col-sm-1 col-md-1 widget-links_item hidden-xs">{{ down_list.stars }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--右侧资源下载列表 end-->

            <!--分页导航 begin-->
            <nav>
            <ul class="pager">
                <li><a href="/download/">首页</a></li>
                {% if down_lists.has_previous %}
                    <li><a href="?page={{ down_lists.previous_page_number }}">上一页</a></li>
                {% endif %}
                {% if down_lists.has_next %}
                    <li><a href="?page={{ down_lists.next_page_number }}">下一页</a></li>
                {% endif %}
                <li><a href="?page={{ down_lists.paginator.num_pages }}">尾页</a></li>
            </ul>
            </nav>
            <!--分页导航 end-->
        </div>
    </div>
</section>
{% include 'footer.html' %}
