<section class="container">
    <div class="news row">
        <div class="col-xs-12 col-md-12">
            <!--新闻列表 begin-->
            {% for article in articles %}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="col-xs-12 col-md-11ths panel panel-default pull-left">
                <div class="media panel-body" style="margin-left:-15px; margin-right:-15px;">
                    <div class="media-left hidden-xs">
                        <img class="media-object img-circle" src="/static/image/image2.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ellipsis"><a href="/news/view/{{ article.id }}/">{{ article.title }}</a></h5>
                        <p>{{ article.pubtime|date:"Y-m-d H:i:s" }}</p>
                        <p style="height:50px;">{{ article.summary }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xs-12 col-md-11ths panel panel-default pull-right">
                <div class="media panel-body" style="margin-left:-15px; margin-right:-15px;">
                    <div class="media-left hidden-xs">
                        <img class="media-object img-circle" src="/static/image/image2.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ellipsis"><a href="/news/view/{{ article.id }}/">{{ article.title }}</a></h5>
                        <p>{{ article.pubtime|date:"Y-m-d H:i:s" }}</p>
                        <p style="height:50px;">{{ article.summary }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div style="clear:both;"></div>

            <div class="article-feed">
                <!-- .news will be added to .article-feed -->
                <article class="news"></article>
                <article class="news"></article>
            </div>

            <!-- status elements -->
            <div class="scroller-status">
                <div class="infinite-scroll-request loader-ellips">
                  ...
                </div>
                <p class="infinite-scroll-last">End of content</p>
                <p class="infinite-scroll-error">No more pages to load</p>
            </div>

            <!-- pagination has path -->
            <p class="pagination">
                <a class="pagination__next" href="/news/page/2">Next page</a>
            </p>
            <!--新闻列表 end-->
        </div>
    </div>
</section>

<script>
$(function(){
    $('.article-feed').infiniteScroll({
        path: '.pagination__next',
        append: '.news',
        status: '.scroller-status',
        hideNav: '.pagination',
        //history: false,
    });
});
</script>
