{% include 'header.html' %}
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/static/image/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="photos row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info"><h4>{{ photos.0.category }}_{{ photos.0.subcategory }}</h4></div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                    {% for photo in photos %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <img src="{{ photo.url }}" alt="" style="width:100%;">
                            <div class="carousel-caption">{{ photo.description }}</div>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">上一张</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">下一张</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
