{% include 'plaza_header.html' %}
<section class="container">
    <div class="membership row">
        <div class="col-md-3 hidden-xs">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">用户中心</a></li>
                <li class="text-center"><a href="#"><img src="" alt=""></a></li>
                <li><a href="#">用户名：</a></li>
                <li><a href="#">用户组：</a></li>
                <li><a href="#">注册时间：2015-6-10</a></li>
                <li><a href="#">当前IP：</a></li>
            </ul>
        </div>

        <div class="col-md-9">

        </div>
    </div>
</section>
{% include 'footer.html' %}
