{% include 'header.html' %}
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/static/image/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="video row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <!--视频播放 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>视频：{{ item.title }}<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item"><!--仅支持ogg mp4 WebM格式-->
                        <video id="videoPlayer" controls="controls" class="video-js vjs-fluid vjs-big-play-centered col-xs-12 col-sm-12 col-md-12" data-setup="{}">
                            <source src="{{ item.url }}" type="video/{{ pattern }}">
                        </video>
                    </li>
                </ul>
            </div>
            <!--视频播放 end-->
        </div>

        <div class="col-sm-12 col-md-4 hidden-xs">
            <!--右侧相关推荐 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-danger">
                    <h4>相关推荐<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                {% for hot in hots %}
                    <li class="widget-links_item"><a href="/video/view/{{ hot.id }}/">{{ hot.title }}</a><span class="badge">{{ hot.hits }}</span></li>
                {% endfor %}
                </ul>
            </div>
            <!--右侧相关推荐 end-->
        </div>
    </div>

    <div class="video row" style="margin-top:20px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!-- 微课 begin -->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>优秀微课作品<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                {% for lecture in lectures %}
                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <a href="/video/view/{{ lecture.id }}/"><img src="/static/image/weike.png" alt=""></img></a>
                    <div class="caption">
                        <h5 style="line-height:35px; margin-top:0;">{{ lecture.title }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- 微课 end -->
        </div>
    </div>

    <div class="banner row">
        <!--底部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/static/image/banner2.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--底部通栏 end-->
    </div>
</section>

<script>
$('#videoPlayer').bind('contextmenu',function() {
    return false;
});
</script>
{% include 'footer.html' %}
